<div class="container mt-3" *ngIf="billDetails">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">Bill {{billId}}</div>
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item">Bill ID: {{billDetails.id}}</li>
            <li class="list-group-item">Date: {{billDetails.billDate|date: 'dd-MM-yyyy'}}</li>
            <li class="list-group-item">Customer ID: {{billDetails.customer.id}}</li>
            <li class="list-group-item">Customer Name: {{billDetails.customer.name}}</li>
            <li class="list-group-item">Customer EMAIL: {{billDetails.customer.email}}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
      <div class="card-header">Product Items</div>
      <div class="card-body">
        <table class="table table-sm">
          <thead>
          <tr class="bg-dark text-white">
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Discount</th>
            <th>Amount</th>
          </tr>
          </thead>
          <tbody>
          <tr class="text-center" *ngFor="let pi of billDetails.productItems">
            <td>{{pi.product.id}}</td>
            <td>{{pi.product.name}}</td>
            <td>{{pi.quantity}}</td>
            <td>{{pi.price}}</td>
            <td >{{pi.discount|number: '.2'}}</td>
            <td >{{pi.amount|number: '.2'}}</td>
          </tr>
          <tr class="text-end bg-dark text-white">
            <td colspan="5"><strong>Total</strong></td>
            <td><strong>{{billDetails.total|number: '.2'}}</strong></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    </div>
  </div>
</div>
